{% extends 'base.html' %}

{% block title %}
    Список отелей
{% endblock %}

{% block content %}
    Количество комнат не меньше:
    <a href="{% url 'hotel_list' %}?min_room_count=1">1</a>
    <a href="{% url 'hotel_list' %}?min_room_count=20">20</a>
    <p>
        {% if not hotels %}
            Отели не найдены
        {% else %}
            <ul>
                {% for hotel in hotels %}
                    <li>{{ hotel.id }} {{ hotel.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{% endblock %}
